.container {
  margin: 32px;
}

.top {
  margin: 0px auto;
}

input {
  font-size: 1.6em;
}

.char-large {
  font-size: 5em;
}

.bold {
  font-weight: bold;
}

.italics {
  font-style: italic;
}

.small-character {
  cursor: pointer;
}

.small-character rb,
.small-character > span {
  font-size: 2em;
}

.small-character rt {
  font-size: 0.8em;
}
