.container {
  margin: 32px;

  display: grid;
  grid-template-columns: auto 32px;
}

.top {
  margin: 0px auto;
}

input {
  font-size: 1.6em;
}

.char-large {
  font-size: 5em;
}

.char-mid {
  font-size: 2em;
}

.margin-l-r {
  margin: 0px 6px;
}

.bold {
  font-weight: bold;
}

.italics {
  font-style: italic;
}

.grey-text {
  color: #333;
}

.light-grey-text {
  color: #666;
}

[tabindex] {
  cursor: pointer;
}

.small-character rt {
  font-size: 0.8em;
}

.search-history {
  writing-mode: vertical-lr;
}
